:root {
  --white: #fff;
  --light: #F1F1F1;
  --dark: #000;
  --red: #F52A2A;
  --green: #00B761;
  --root: #351500;
  --transp: rgba(46, 46, 46, 0.5);
  
}
/* header */
.header {
  background-color: var(--light);
  height: 7rem;
  padding: 0rem 4rem;
  position: sticky;
  top: 0;
  z-index: 999;
}
.headerContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.headerLeft {
  display: flex;
  align-items: center;
}
/* nav menu */
.navmenuContainer {
  display: none;
  cursor: pointer;
  position: relative;
}
.navItemContainer {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 7rem;
  z-index: 888;
  left: 0rem;
  background-color: var(--white);
  overflow: hidden;
}
.navMainItemSubContainer {
  margin: 2rem 4rem;
}
.navMainItem {
  font-weight: bold;
  border-bottom: 0.1rem solid var(--dark);
  cursor: pointer;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}
.navSubItem {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}
.navSubItem > * {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.2rem solid var(--light);
}


/* nav menu end */
img.logo {
  width: 10rem;
}

.dropdown {
  padding: 0.5rem 0.5rem 2.6rem 0.5rem;
  margin-top: 2rem;
  position: relative;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
}
.dropdown:hover {
  background-color: var(--white);
}
.dropdownContent {
  position: absolute;
  top: 5rem;
  left: 0rem;
  width: 13rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  box-shadow: 1.1rem 1.5rem 1.2rem -1rem rgba(0,183,97,0.2);
  display: none;
}

.dropdown:hover .dropdownContent {
  display: flex;
}

.dropdownItem {
  margin-bottom: 1rem;
  padding: 0.5rem;
  transition: background-color 0.2s ease-out;
}
.dropdownItem:hover {
  background-color: var(--green);
}
.headerRight {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.headerRightContent {
  margin: 0 0.5rem;
}

.badgeContainer {
  position: relative;
}
.badge {
  font-size: 1rem;
  position: absolute;
  top: 0;
  left: 2rem;
  color: var(--red);
  font-weight: bold;
}
/* dropdownright */

.dropdownR {
  padding: 0.5rem 0.5rem 2.6rem 0.5rem;
  margin-top: 2rem;
  position: relative;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
}
.dropdownR:hover {
  background-color: var(--white);
}
.dropdownContentR {
  position: absolute;
  top: 4.8rem;
  right: 0rem;
  width: 13rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  box-shadow: 1.1rem 1.5rem 1.2rem -1rem rgba(0,183,97,0.2);
  display: none;
}

.dropdownR:hover .dropdownContentR {
  display: flex;
}

.dropdownItemR {
  margin-bottom: 1rem;
  padding: 0.5rem;
  transition: background-color 0.2s ease-out;
}
.dropdownItemR:hover {
  background-color: var(--green);
}

/* searchbar */
.searchBar {
  position: relative;
}
.searchBoxCont {
  position: absolute;
  top: 0rem;
  right: 0rem;
}

.searchForm {
  position: relative;
}
.searchInput {
  padding: 0.5rem 1rem;
  border: 0.1rem solid var(--green);
  outline: none;
  width: 7rem;
  transition: width 0.5s ease-in-out;
}
.searchInput:focus {
  width: 15rem;
  outline: none;
}

.searchButton {
  position: absolute;
  right: 0;
  top: 0.3rem;
  background: none;
  padding: 0;
  border: none;
}
/* rating */
.rating {
  display: flex;
  align-items: center;
}


/* cover */
.coverBtnPosition {
  position: relative;
}
.cover {
  width: 100%;
  height: 40rem;
}

img.coverImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.coverBtn {
  position: absolute;
  right: 3rem;
  bottom: 3rem;
  color: var(--white);
  font-size: 1.8rem;
  background-color: var(--transp);
  padding: 1rem 2rem;
}
/* thumbnail */
.categoryThumbnail {
  display: flex;
  justify-content: space-between;  
}
.thumbImgContainer {
  position: relative;
  flex: 1;
  margin-right: 4rem;
}
.thumbImgContainer:last-child {
  margin-right: 0rem;
}

img.thumbImg {
  object-fit: cover;
  max-height: 40rem;
  width: 100%;
}

.thumbCard {
  position: absolute;
  background-color: var(--transp);
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 60%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumCardTxt {
  color: var(--white);
  padding: 2rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
}

/* product card */
.productCard {
  margin: 1rem;
  max-width: 29rem;
  background-color: var(--light);
}

img.cardImg {
  max-width: 29rem;
  width: 100%;
  object-fit: cover;
}
.cardBody {
  padding: 1rem;
}

/* footer */
.footerContainer {
  background-color: var(--light);
  padding: 0rem 4rem;
}

.footer {
  padding: 2rem 0rem;
}

img.footerLogo {
  width: 30rem;
}
.footerLeft {
  flex: 1;
}
.footerMiddle {
  border-right: 0.1rem solid var(--dark);
  border-left: 0.1rem solid var(--dark);
  padding: 2rem;
  flex: 1;
}
.footerRight {
  flex: 1;
  padding: 2rem;
}
.footerIcons > * {
  margin-right: 2rem;
}
.footerIcons > *:last-child {
  margin-right: 0rem;
}
.phoneContact {
  margin-bottom: 1rem;
}
.copyrightTxt {
  font-size: 1.2rem;
  text-align: center;
  margin: 0;
  padding-bottom: 0.5rem;
}
/* checkout */ 
.checkout-steps > div {
  flex: 1;
  border-top: 0.2rem solid var(--light);
  margin-bottom: 2rem;
}
.checkout-steps > div.active{
  border-color: var(--green);
  display: flex;
  color: var(--green);
}



@media screen and (max-width: 1000px) {
  .headerMiddle {
    display: none;
  }
  .navmenuContainer {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: 10rem;
    padding: 1rem 2rem;
  }
  .headerContainer {
    flex-direction: column;
  }
  .headerLeft, .headerRight {
    width: 100%;
    justify-content: space-between;
  }
  .dropdownR {
    padding: 0.25rem 0.25rem 1rem 0.25rem;
    margin-top: 1rem;
  }
  .dropdownContentR {
    top: 3rem;
  }

  .searchBoxCont {
    top: 3.7rem;
    left: 0;
  }

  .searchInput {
    padding: 0.5rem 0.5rem 0.5rem 2rem;
  }
  .searchInput:focus {
    width: 29rem;
  }

  .coverBtn {
    left: 50%;
    transform: translateX(-50%);
    width: 12rem;
    text-align: center;
  }

  .categoryThumbnail {
    flex-direction: column;
  }
  .thumbImgContainer {
    flex: 1;
    margin-right: 0rem;
    margin-bottom: 4rem;
  }
  .thumbImgContainer:last-child {
    margin-bottom: 0rem;
  }
  .footer {
    flex-direction: column;
  }
  img.footerLogo {
    width: 15rem;
  }

  .footerContainer {
    padding: 1rem;
  }

  .footerLeft {
    margin-bottom: 2rem;
  }

  .footerMiddle {
    border: none;
  }
  .footerLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footerRight {
    padding: 1rem;
  }
  .footerRight h1 {
    text-align: center;
  }  
}